*{
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
}
// тело всего сайта
body{
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #1E201E;
    font-family: Ubuntu;
}
// 
// кнопка перехода
.btn{
    display: flex;
    width: 290px;
    height: 80px;
    background-color: #555C52;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
        background-color: #555C52;
        text-decoration: none;
        font-size: 35px;
        color: #ECDFCC;
}
section{
    height: auto;
    width: 1400px;
    margin: 80px auto;
}
.email{
    width: 600px;
    height: 63px;
    border-radius: 20px;
    font-size: 38px;
    border: 1px solid #555C52;
    outline: 2px solid #ECDFCC;
    margin-top: 20px;
    padding:  0 10px;
}
.sogl{
    width: 30px;
    height: 20px;
    accent-color: #ECDFCC;
    border: 1px solid #1a1a18;
}
// 
// главная страница
.header{
    width: 100%;
    margin: 0 auto;
    &__container{
        width: 1400px;
        height: 150px;
        margin: 0 auto;
        padding-top: 49px; 

        &-wrap{
            width: 1400px;
            height: 150px;
            background-color: #30302C;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: 12px 12px 2px 1px #1a1a18;
        }
        &-logo{
            margin-left: 80px;
            margin-right: 150px;
        }
        &-menu{
            width: 1257px;
            height: 48px;
            display: flex;
            justify-content: space-between;
            &_links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                a{
                    font-size: 33px ;
                    text-decoration: none;
                    color: #ECDFCC;
                }&-btn{
                    margin-left: 20px;
                    margin-right: 10px;
                    white-space: nowrap;
                    border-radius: 25px;
                    border: 2px solid #555C52;
                    display: flex;
                    align-items: center;
                    & a{
                        padding: 7px 9px;
                    }
                }
            }
        }
    }
}
// 
// встпуление на первой странице
.intro-1str{
    width: 1400px;
    height: 450px;
    margin: 0 auto;
        &__box{
            width: 1400px;
            height: 450px;
            background-color: #30302C;
            box-shadow: 12px 12px 2px 1px #1a1a18;
            margin-top: 80px;
            &-intro__btn{
                width: 290px;
                margin-left: 1016px;
                position: relative;
                padding-top: 330px;
                & p{
                    font-size: 30px;
                    text-align: center;
                    color: #ECDFCC;
                    padding-bottom: 15px;
                }
            }
        }
        &__texts{
            width: 983px;
            height: 318px;
            position: absolute;
            margin: 68px auto 0 68px;
            &-text1{
                width: 928px;
                height: 138px;
                margin-bottom: 20px;
                & p{
                    font-size: 64px;
                    color: #ECDFCC;
                }
            }
            &-text2{
                width: 100%;
                height: 123px;
                & p{
                    font-size: 36px;
                    color: #ECDFCC;
                }
        }
}
}
// 
// Бокс о макетах фигме
.figma-1str{
    margin: 0 auto;
    width: 1400px;
    height: 450px;
    &__box{
        width: 1400px;
        height: 450px;
        background-color: #30302C;
        box-shadow: 12px 12px 2px 1px #1a1a18;
        margin-top: 80px;
        display: flex;
        align-items: center;
        &-img{
            width: 292px;
            height: 392px;
            display: flex;
            align-items: center;
            margin-left: 25px;

        }
        &-intro{
            width: 1060px;
            height: 392px;  
            & p{
                font-size: 40px;
                color: #ECDFCC;
                padding-top: 40px;
            }
            &__btn{
                margin: 60px auto 0 700px;
            }
            
        }   
    }
}
// 
// бокс с задачами 
.hcj-1str{
    margin: 0 auto;
    width: 1400px;
    height: 450px;
    &__box{
        width: 1400px;
        height: 450px;
        background-color: #30302C;
        box-shadow: 12px 12px 2px 1px #1a1a18;
        margin-top: 80px;
        display: flex;
        align-items: center;
        &-img{
            width: 292px;
            height: 392px;
            display: flex;
            align-items: center;
            margin-left: 25px;

        }
        &-intro{
            width: 1060px;
            height: 392px;  
            & p{
                font-size: 40px;
                color: #ECDFCC;
                padding-top: 40px;
            }
            &__btn{
                margin: 115px auto 0 700px;
            }
            
        }   
    }
}
// 
// бокс - справочник 
.vsc-1str{
    margin: 0 auto;
    width: 1400px;
    height: 450px;
    &__box{
        width: 1400px;
        height: 450px;
        background-color: #30302C;
        box-shadow: 12px 12px 2px 1px #1a1a18;
        margin-top: 80px;
        display: flex;
        align-items: center;
        &-img{
            width: 292px;
            height: 392px;
            display: flex;
            align-items: center;
            margin-left: 25px;

        }
        &-intro{
            width: 1060px;
            height: 392px;  
            & p{
                font-size: 40px;
                color: #ECDFCC;
                padding-top: 40px;
            }
            &__btn{
                margin: 70px auto 0 700px;
            }
            
        }   
    }
}
// 
// Бокс с ожиданием от сайта
.expr-1str{
    margin: 0 auto;
    width: 1400px;
    height: 550px;
    &__box{
        width: 1400px;
        height: 550px;
        background-color: #30302C;
        box-shadow: 12px 12px 2px 1px #1a1a18;
        margin-top: 80px;
    }
    &__texts{
        width: 983px;
        height: 318px;
        position: absolute;
        margin: 68px auto 0 68px;
        &-text1{
            width: 928px;
            margin-bottom: 50px;
            & h1{
                font-size: 64px;
                color: #ECDFCC;
            }
        }
        &-text2{
            width: 889px;
            height: 123px;
            & p{
                font-size: 35px;
                color: #ECDFCC;
            }
            & span {
                font-size: 48px;
                color: #ECDFCC;
            }
        }
    }
}
// 
// подвал 
.footer{
    width: 1400px;
    height: 311px;
    margin: 80px auto;
    padding-bottom: 80px;
        &__boxs{
            width: 1400px;
            height: 311px;
            background-color: #30302C;
            box-shadow: 12px 12px 2px 1px #1a1a18;
            margin: 80px auto;
            display: flex;
            &-box{
                margin-left: 144px;
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                & a , p{
                    font-size: 25px;
                    color: #ECDFCC;
                    text-decoration: none;
                    text-align: center;
                }
                &_img{
                    margin-top: 40px;
                    margin-left: 83px;
                }
            }
        }
}
// 
// легкий уровень
.easy{
    width: 1400px;
    height: 450px;
    margin: 80px auto;
    &__boxs{
        width: 1400px;
        height: 450px;
        background-color: #30302C;
        box-shadow: 12px 12px 2px 1px #1a1a18;
        margin: 80px auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &-box{
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            &_title{
                width: 300px;
                height: 300px;
                background-color: #555C52;
                border-radius: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:50px;
                margin-left: 20px;
                & a {
                    font-size: 30px;
                    color: #ECDFCC;
                }& p{
                    color: #ECDFCC;
                    font-size: 35px;
                    text-align: center;
                    white-space: nowrap;
                    padding-top: 20px;
                }
                & .btn2{
                    background-color:#30302C;
                    width: 250px;
                    height: 80px;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    & a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
// 
// средний уровень
.stan{
    width: 1400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 80px;

    &__boxs{
        width: 1400px;
        height: 450px;
        background-color: #30302C;
        box-shadow: 12px 12px 2px 1px #1a1a18;
        margin: 80px auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &-box{
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            &_title{
                width: 300px;
                height: 300px;
                background-color: #555C52;
                border-radius: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:50px;
                margin-left: 20px;
                & a {
                    font-size: 30px;
                    color: #ECDFCC;
                }& p{
                    color: #ECDFCC;
                    font-size: 35px;
                    text-align: center;
                    white-space: nowrap;
                    padding-top: 20px;
                }
                & .btn2{
                    background-color:#30302C;
                    width: 250px;
                    height: 80px;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    & a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
// 
// сложный уровень
.hard{
    width: 1400px;
    height: 450px;
    margin: 80px auto;

    &__boxs{
        width: 1400px;
        height: 450px;
        background-color: #30302C;
        box-shadow: 12px 12px 2px 1px #1a1a18;
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between  ;
        gap: 40px;
        &-box{
            width: 830px;
            height: 300px;
            display: flex;
            align-items: center;
            margin-left: 3px;
            &_title{
                width: 300px;
                height: 300px;
                background-color: #555C52;
                border-radius: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:50px;
                margin-left: 50px;
                & a {
                    font-size: 30px;
                    color: #ECDFCC;
                }& p{
                    color: #ECDFCC;
                    font-size: 35px;
                    text-align: center;
                    white-space: nowrap;
                    padding-top: 20px;
                }
                & .btn2{
                    background-color:#30302C;
                    width: 250px;
                    height: 80px;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    & a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
// 
// бокс оплаты подписки
.buy{
    width: 1400px;
    height: 950px;
    margin: 100px auto;
    background-color: #30302C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 127px;
    &__intro{
        width: 1300px;
        height: 98px;
        background-color: #555C52;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        & p {
            color:#ECDFCC;
            letter-spacing: 20px;
            font-size: 36px;
        }
    }&__curs{
        width: 800px;
        height: 542px;
        margin-bottom: 127px;
        background-color: #555C52;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        &-form{
            width: 372px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            color: #ECDFCC;
            margin-top: 34px;
        }
        &-email{
            width: 600px;
            height: 130px;
            & p{
                color: #ECDFCC;
                font-size: 40px;
            }
        }&-sogl{
        display: flex;
        width: 600px;
        height: 77px;
        display: grid;
        gap: 18px;
            &-str{
                display: flex;
                align-items: center;
                
                gap: 15px;
            }
            & p{
            font-size: 20px;
            white-space: nowrap;
            color: #ECDFCC;
            }
        }
        &-btn{
            background-color: #1E201E;
            & a{
                color: #ECDFCC;
                text-decoration: none;
            }
        }
    }
}
// 
// справочник
.help__box{
    width: 1400px;
    height: 1250px;
    margin: 80px auto;
    background-color: #30302C;       
    display: flex;
    flex-direction: column;
    &-top{
        width: 1200px;
        height: 98px;
        position: relative;
        margin: 30px auto;
        background-color: #555C52;
        display: flex;
        align-items: center;
        justify-content: center;
        & p{
            font-size: 40px;
            color: #ECDFCC;
        }
    }&-center{
        width: 1200px;
        height: 1000px;
        background-color:#555C52;
        margin: 40px auto;
        &__box-intro{
            width: 120px;
            height: 46px;
            font-size: 40px;
            margin: 0 auto;
            margin-top: 70px;
            color: #ECDFCC;
        }
        &__box-text{
            margin-top: 50px;
            margin-left: 40px;
            font-size: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            & a{
                color: #ECDFCC;
                text-decoration: none;
            }
        }
    }
}